.App {
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:    #00838f  ;
  color:   #00838f   ;
}

.QuoteBox {
  width: 600px;
  height: 250px;
  background-color:  #f5f5f5 ;
  padding: 30px;
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content:center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px; 
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
}

.Quote {
  grid-area: 2 / 1 / 5 / 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Quote p {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;


}

.icon {
  font-size: 3rem;
}

.Author {
  grid-area: 5 / 1 / 6 / 2; 
  display: flex;  
  align-items: center;
  justify-content: center;
}

.Author h4 {
  margin: 0px 10px;
}

.ButtonChangeQuote {
  grid-area: 6 / 1 / 7 / 2;
  display: flex;

}

.ButtonChangeQuote button {
  border: none;
  background-color:  #00838f;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  opacity: 0.9;
}

.ButtonChangeQuote button:hover {
  opacity: 1;
}

.ButtonShareOnTwitter {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: end;
  text-align: right;
  opacity:0.9;
}

.ButtonShareOnTwitter:hover {
  opacity: 1;
}